<ul id="version_history" class="panel_list">
  <% @script.audits.reverse.each do |audit| %>
    <li class="panel panel-default with_avatar">
      <aside class="avatar">
        <%= avatar_for audit.user %>
      </aside>
      <section class="content">
        <p>
          <strong><%= link_to_script_version(audit) %></strong>
          - Stage: <strong><%= friendly_stage_names[audit.revision.stage] %></strong>
          <% unless audit.version == (@script.version || @script.revisions.count) %>
            <%= link_to "(diff)", diff_script_path(id: @script.id,
                                                   first: audit.version,
                                                   second: @script.version || @script.revisions.count) %>
          <% end %>
          <br><em><%= display_time(audit.created_at) %></em>
        </p>
        <% if audit.user.present? %>
          <p>
            Edited by <%= link_to audit.user.name, audit.user %>
          </p>
        <% end %>
        <% if audit.comment.present? %>
          <p>
            <strong>Comment:</strong> <%= parsed_comment(audit) %>
          </p>
        <% end %>
      </section>
    </li>
  <% end %>
</ul>