<% provide(:title, @script.name) %>
<div class="row">
  <h3><%= @script.name %></h3>
  <% unless @audit.nil? %>
    <h4>Version <%= @script.version %> (<%= @audit.created_at %>)</h4>
    <h4><%= link_to "Back to current version", edit_script_path(@script) %></h4>
  <% end %>
</div>

<div id="script_editor_row" class="row">
  <div id="script_editor_container">
    <%= form_with(model: @script, local: true, id: "script_form") do |form| %>
      <% if @script.errors.any? %>
        <div class="alert alert-danger">
          <b><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</b>
    
          <ul>
          <% @script.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @audit.nil? %>
        <p class="btn-group">
          <button id="increase_font_size" type="button" class="btn btn-default"><%= raw(glyphicon "plus") %>Increase font size</button>
          <button id="decrease_font_size" type="button" class="btn btn-default"><%= raw(glyphicon "minus") %>Decrease font size</button>
          <button id="add_note_before_line" type="button" class="btn btn-default"><%= raw(glyphicon "tag") %>Add note before line</button>
          <button id="toggle_note_pane" type="button" class="btn btn-default"><%= raw(glyphicon "tags") %>Toggle note pane</button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#style_guide_modal"><%= raw(glyphicon "education") %>Style guide</button>
        </p>
      <% end %>
      <%= form.text_area :text, id: "script_hidden", style: "display: none"; %>
      <div id="script_editor"></div>
      <div class="form-group">
        <%= form.label :stage %>
        <%= form.collection_select :stage,
                                    friendly_stage_names,
                                    :first,
                                    :second,
                                    {},
                                    class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :audit_comment, "Comment for change" %>
        <%= form.text_area(:audit_comment, value: @audit_comment, class: 'form-control') %>
      </div>
    
      <% if @can_write %>
        <%= button_tag class: 'btn btn-primary' do %>
          <%= raw(glyphicon "floppy-disk") %>
          Save changes
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% if @audit.nil? %>
    <div id="script_note_pane">
      <h3>Notes</h3>
      <% if @script.cached_notes.any? %>
        <ul class="panel_list">
          <% @script.cached_notes.each do |note| %>
            <li class="panel panel-default with_avatar">
              <aside class="avatar">
                <%= avatar_for note.user %>
              </aside>
              <section class="content">
                <p>
                  <strong><%= link_to note.user.name, note.user %></strong>
                  <br><em><%= display_time(note.added_at) %></em>
                </p>
                <p>
                  <%= note.text %>
                </p>
                <p>
                  <% if note.link.present? %>
                    <%= link_to "Go to line (originally #{note.line + 1})", "javascript:goToNote('#{note.link}');" %>
                  <% else %>
                    <%= link_to "Line #{note.line + 1}", "javascript:goToLine(#{note.line + 1});" %>
                  <% end %>
                </p>
              </section>
            </li>
          <% end %>
        </ul>
      <% else %>
        none
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<div class="row">
  <h3>Version history</h3>
  <%= render "version_history" %>
</div>

<div class="modal fade" id="style_guide_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @script.project.name %> Style Guide</h4>
      </div>
      <div class="modal-body">
        <%= markdown(@script.project.style_guide) %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var editor = ace.edit("script_editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/tlstatus<%= @script.project.language.downcase %>");
    editor.setOptions({
      autoScrollEditorIntoView: true,
      showPrintMargin: false,
      <% unless @can_write %>readOnly: true,<% end %>
    });
    editor.setValue($("#script_hidden").val());
    editor.clearSelection();
    editor.getSession().setUseWrapMode(true);
    editor.getSession().setUndoManager(new ace.UndoManager()); // setValue is undoable otherwise
    $("#script_editor").resizable({
      resize: function(event, ui) {
        editor.resize();
      }
    });
    $("#script_form").submit(function() {
      $("#script_hidden").val(editor.getValue());
      $(window).off('beforeunload');
    });
    $("#increase_font_size").click(function() {
      var fontSize = parseInt($("#script_editor").css("font-size"));
      fontSize = fontSize + 1 + "px";
      $("#script_editor").css({'font-size':fontSize});
      editor.focus();
    });
    $("#decrease_font_size").click(function() {
      var fontSize = parseInt($("#script_editor").css("font-size"));
      fontSize = fontSize - 1 + "px";
      $("#script_editor").css({'font-size':fontSize});
      editor.focus();
    });
    $("#add_note_before_line").click(function() {
      curRow = editor.selection.getCursor().row + 1;
      editor.gotoLine(curRow);
      editor.splitLine();
      
      var note = "//note(";
      note += "<%= current_user.name %>";
      note += ", ";
      note += new Date().toISOString();
      note += ", ";
      // link
      note += Math.random().toString(36).substr(2,6);
      note += "): ";
      
      editor.insert(note);
      editor.focus();
    });
    $("#toggle_note_pane").click(function() {
      $("#script_editor_row").toggleClass("script_editor_two_pane");
      editor.resize();
      editor.focus();
    });
    window.goToLine = function(line) {
      editor.gotoLine(line);
      editor.focus();
    };
    window.goToNote = function(link) {
      Range = require("ace/range").Range;
      editor.find(link, {
        start: new Range(0,0,0,0)
      });
      // clear selection
      curRow = editor.selection.getCursor().row + 1;
      editor.gotoLine(curRow);
    };
    window.goToHash = function() {
      if (window.location.hash.startsWith("#line_")) {
        var line_number = parseInt(window.location.hash.slice(6));
        window.goToLine(line_number);
        window.location.hash = "";
      }
    };
    window.goToHash();
    $(window).bind('hashchange', goToHash);

    $(window).on('beforeunload', function() {
      if (!editor.getSession().getUndoManager().hasUndo()) return undefined;
      
      return "You have unsaved changes! Are you sure you want to leave?";
    });
  });
</script>