<h3><%= @script.name %></h3>

<%= form_with(model: @script, local: true) do |form| %>
  <% if @script.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</b>

      <ul>
      <% @script.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="script_editor"><%= @script.text %></div>
  <script>
    $(document).ready(function() {
      var editor = ace.edit("script_editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setMode("ace/mode/tlstatus<%= @script.project.language.downcase %>");
      editor.setOptions({
        autoScrollEditorIntoView: true,
        showPrintMargin: false,
        <% unless @can_write %>readOnly: true,<% end %>
      });
      editor.getSession().setUseWrapMode(true);
      $("#script_editor").resizable({
        resize: function(event, ui) {
          editor.resize();
        }
      });
    });
  </script>
  
  <div class="form-group">
    <%= form.label :stage %>
    <%= form.collection_select :stage,
                                friendly_stage_names,
                                :first,
                                :second,
                                {},
                                class: 'form-control' %>
  </div>

  <% if @can_write %><%= form.submit class: 'btn btn-primary' %><% end %>
<% end %>
