<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Discord uid:</strong>
  <%= @user.discord_uid %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<hr>

<section id="user_memberships">
  <h3>Projects</h3>
  <p>
    <% if @user.project_memberships.any? %>
      <ul>
        <% @user.project_memberships.each do |membership| %>
          <li>
            <% if current_user.can_read? membership.project %>
              <%= link_to membership.project.name, project_path(membership.project) %>
              <% unless membership.position.blank? %>(<%= membership.position %>)<% end %>
              <% unless membership.write_access? %>(read only)<% end %>
              <% if current_user.admin? %>
                <%= link_to '(remove)', membership, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% else %>
              [REDACTED]
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      none
    <% end %>
  </p>
  <% if current_user.admin? %>
    <p class="clearfix"><hr>
      <%= form_with(model: @membership, class: "form-horizontal") do |form| %>
        <%= form.hidden_field :user_id, value: @user.id %>
        <div class="form-group">
          <%= form.label :project_id, "Project", class: "control-label col-xs-2" %>
          <div class="col-xs-10">
            <%= form.collection_select :project_id, 
                                        Project.where_user_is_not_member(@user),
                                        :id,
                                        :name,
                                        {},
                                        class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :position, class: "control-label col-xs-2" %>
          <div class="col-xs-10">
            <%= form.text_field :position, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
              <%= form.label :write_access do %>
                <%= form.check_box :write_access %>
                Write access?
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
             <%= form.submit "Add to project", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
      </p>
    <% end %>
</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
