<% provide(:title, "Project #{@project.name}") %>
<div class="row">
  <section class="col-md-6">
    <h3><%= @project.name %></h3>
    <p>
      <strong>Language:</strong> <%= @project.language %>
      <br><strong>Total scripts:</strong> <%= @project.scripts.count %>
      <% if current_user.admin? %><br><%= link_to 'Edit', edit_project_path(@project) %><% end %>
      <br><%= link_to raw("#{glyphicon 'download-alt'} Download ZIP"),
      download_project_path(@project),
      class: 'btn btn-primary' %>
    </p>
  </section>
  <section class="col-md-6" id="project_members">
    <h3>Members</h3>
    <% if @project.project_memberships.any? %>
      <ul class="panel_list">
        <% @project.project_memberships.each do |membership| %>
          <li class="panel panel-default with_avatar col-md-5">
            <aside class="avatar">
              <%= avatar_for membership.user %>
            </aside>
            <section class="content">
              <strong><%= link_to membership.user.name, membership.user %></strong>
              <% unless membership.position.blank? %><br><em><%= membership.position %></em><% end %>
              <% unless membership.write_access? %><br>(read only)<% end %>
              <% if current_user.admin? %>
                <br><%= link_to '(remove)', membership, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </section>
          </li>
        <% end %>
      </ul>
    <% else %>
      none
    <% end %>
    <% if current_user.admin? %>
    <p class="clearfix"><hr>
      <%= form_with(model: @membership, class: "form-horizontal", local: true) do |form| %>
        <%= form.hidden_field :project_id, value: @project.id %>
        <div class="form-group">
          <%= form.label :user_id, "User", class: "control-label col-xs-2" %>
          <div class="col-xs-10">
            <%= form.collection_select :user_id, 
                                        User.where_not_member_of_project(@project),
                                        :id,
                                        :name,
                                        {},
                                        class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :position, class: "control-label col-xs-2" %>
          <div class="col-xs-10">
            <%= form.text_field :position, class: "form-control input-sm" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
              <%= form.label :write_access do %>
                <%= form.check_box :write_access %>
                Write access?
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
             <%= form.submit "Add to project", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
      </p>
    <% end %>
  </section>
</div>

<hr>

<div class="row">
  <h3>Files</h3>
  <table width="100%" class="table" id="scripts_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stage</th>
        <th>Note count</th>
        <th>Last change</th>
      </tr>
    </thead>
    <tbody>
      <% @scripts.each do |script| %>
        <tr>
          <td><strong><%= link_to script.name, edit_script_path(script) %></strong></td>
          <td><%= friendly_stage_names[script.stage] %></td>
          <td><%= script.note_count %></td>
          <td data-order="<%= script.updated_at.to_i %>"><%= display_time(script.updated_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#scripts_table').DataTable({
      "info": false,
      "searching": false
    });
  });
</script>

<hr>

<div class="row">
  <h3>Recent changes</h3>
  <% if @changes.any? %>
    <ul class="panel_list">
      <% @changes.each do |change| %>
        <li class="panel panel-default with_avatar">
          <aside class="avatar">
            <%= avatar_for change.user %>
          </aside>
          <section class="content">
            <p>
              <em><%= display_time(change.created_at) %></em>
              <% if change.user.present? %>
                <br><strong><%= link_to change.user.name, change.user %></strong> updated
                <strong><%= link_to change.auditable.name, edit_script_path(change.auditable) %></strong>
              <% else %>
                <br><strong><%= link_to change.auditable.name, edit_script_path(change.auditable) %></strong> was updated
              <% end %>
            </p>
            <% if change.audited_changes.include? "stage" %>
              <p>
                <strong>Stage</strong> went from
                <strong><%= change.audited_changes["stage"].first %></strong>
                to <strong><%= change.audited_changes["stage"].second %></strong>
              </p>
            <% end %>
            <% if change.comment.present? %>
              <p>
                <strong>Comment:</strong> <%= change.comment %>
              </p>
            <% end %>
            <p>
              <strong><%= link_to_script_version(change) %></strong>
              <% unless change.version == 1 %>
                <%= link_to "(diff to previous)",
                                    diff_script_path(id: change.auditable.id, first: change.version - 1, second: change.version) %>
              <% end %>
            </p>
          </section>
        </li>
      <% end %>
    </ul>
  <% else %>
    none
  <% end %>
  
  <%= will_paginate @changes %>
</div>